/*
    Name : Mayuresh Kalal
    Micro Project for Login2Xplore
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap'); 

.container{
    margin-top:30px;
}

.btn-continer{
    display:flex;
    justify-content: center;
    
}

.btn{
   margin-left:20px;
   margin-right:20px;
}

 body {
        background-image: url('C:\Users\Mayuresh\Desktop\bk.jpg'); 
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
		background-color : #94ebef;
		
 }
